*.exe
*.cache
*.dll
*.exe
*.pdb
*.config
*.json
*.props
*.targets
bin
obj
.vscode/
.bin/
.obj/

obj/Debug/net6.0/designpatterns.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/designpatterns.dll
obj/Debug/net6.0/designpatterns.pdb
obj/Debug/net6.0/refint/designpatterns.dll
obj/Debug/net6.0/ref/designpatterns.dll
